<app-menu></app-menu>
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6">
			<h3><i class="fa fa-user-circle-o"></i> Campaign Management</h3>
			<div class="panel">
				<p><li>Create Campaign</li>
					<li>Manage Campaign</li>
				</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<h3><i class="fa fa-user"></i> Marketing</h3>
			<div class="panel">
					<p><li>Assign Contacts to Campaign</li>
						<li>Run Campaign</li>
					</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<h3><i class="fa fa-user"></i>Admin</h3>
			<div class="panel">
					<p><li>Create Organization</li>
						<li>Create Contact</li>
					</p>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
<footer class="container-fluid" style="background-color: #eee;">
  <p>© 2016, Espire Infolabs Pvt. Ltd. All Rights Reserved</p>
</footer>