<div class="row">
	<div class="jumbotron" style="paddign:0px 10px 0px 10px;">
		<div style="float:left;align-items: center;margin-top: -30px !important;padding-left:20px;">
			<img src="../campaign/assets/images/espirelogo.png"/>
		</div>
		<div style="float:left">
	    	<p>Campaign Management</p>
	    </div>
	</div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <!-- <li><a href="#">Organization</a></li> -->
        <li class="dropdown" *ngIf="hasUserRole('IS,MARKETING')">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organization <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/crorg">Create Organization</a></li>
            <li><a routerLink="/searchorg">Search Organization</a></li>
            <!-- <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li> -->
          </ul>
        </li>
        <li class="dropdown" *ngIf="hasUserRole('IS,MARKETING')">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Domain <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/crdomain">Create Domain</a></li>
            <li><a routerLink="/searchdomain">Search Domain</a></li>
          </ul>
        </li>
        <li class="dropdown" *ngIf="hasUserRole('IS,MARKETING')">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Geography <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/crgeo">Create Geography</a></li>
            <li><a routerLink="/searchgeo">Search Geography</a></li>
          </ul>
        </li>
        <li class="dropdown" *ngIf="hasUserRole('IS,MARKETING')">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Designation <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/crdesg">Create Designation</a></li>
            <li><a routerLink="/searchdesg">Search Designation</a></li>
          </ul>
        </li>
        <li class="dropdown" *ngIf="hasUserRole('IS,MARKETING')">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Campaign <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/crcampaign">Create Campaign</a></li>
            <li><a routerLink="/searchCampaignResult">Search Campaign/Edm</a></li>
          </ul>
        </li>
        <li *ngIf="hasUserRole('IS,MARKETING')">
          <a routerLink="/progressreport">EDM Progress</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>{{userName}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                        <p class="text-left small" style="color: white">{{email}}</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left" style="color: white"><strong>{{userName}}</strong></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider navbar-login-session-bg"></li>
			            <li><a (click)="logout()">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                    </ul>
                </li>
            </ul>
      
      <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
